<h1>Show Album</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @album.name %>
  </li>

  <li>
    <strong>Artist:</strong>
    <%= @album.artist %>
  </li>

</ul>

<h2>Tracks</h2>

<ol>
  <%= for track <- @album.tracks do %>
    <li><%= track.name %></li>
  <% end %>
</ol>




<span><%= link "Edit", to: Routes.album_path(@conn, :edit, @album) %></span>
<span><%= link "Back", to: Routes.album_path(@conn, :index) %></span>
